body{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 40vw;
    border-radius: 10px;
    border: 2px solid black;
}

li{
cursor: pointer;
padding: 1px;
}
li:hover{

    text-decoration: line-through;
}
div h1{
    color: red;
    text-align: center;
}